.dashboard-first-row-card {
  height: 100px; /* Set max height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px; /* Adjust padding to fit content */
  font-size: 0.75rem; /* Reduce font size */
  background-color: #191c24;
  border-radius: 15px;
}

.dashboard-first-row-card .icon {
  font-size:2.7rem; /* Adjust icon size */
  margin-top: -50px;
  bottom: 10px;
}

.dashboard-first-row-card .title {
  font-size: 0.85rem; /* Adjust title font size */
  /* margin-bottom: 0.25rem; Reduce margin */
  margin-top: -0.7rem !important;
  
}

.dashboard-first-row-card .number {
  font-size: 1rem; /* Adjust number font size */
}

.dashboard-first-row-card .footer-text {
  font-size: 0.7rem; /* Adjust footer text size */
  margin-top: 0.25rem; /* Reduce margin */
}
