@import url('https://cdn.jsdelivr.net/npm/katex@0.11.0/dist/katex.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #ffffff;
  color: #fff;
}

.sidebar {
  overflow: auto;
  color: rgb(119, 119, 119);
  background: linear-gradient(
    rgb(249, 248, 247),
    rgb(251, 250, 248) 46px,
    rgb(251, 251, 249) 120px,
    rgb(248, 247, 245) 35%,
    rgb(249, 248, 246)
  );
}

.sidebar__highlights {
  list-style: "none";
  padding: 0;
}

.highlight__location {
  margin-top: 0.5rem;
  text-align: right;
  font-size: 10px;
}

.highlight__image {
  overflow: auto;
  max-width: 300px;
  border: 1px dashed;
}

.sidebar__highlight {
  padding: 1rem;
  cursor: pointer;
  transition: background 140ms ease-in;
  border-bottom: 1px solid rgb(119, 119, 119);
}

.sidebar__highlight:hover {
  background: rgba(58, 56, 52, 0.08);
}

/* Style buttons */
.sidebar__btn {
  background-color: rgb(150, 187, 224); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 4px 6px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 20%;
}

/* Darker background on mouse-over */
.sidebar__btn:hover {
  background-color: RoyalBlue;
}

a {
  color: #d35400;
}

blockquote {
  padding: 0;
  margin: 0;
  quotes: "\201c" "\201d";
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}

.error_text {
  color: #000;
  height: 200px;
  text-align: center;

}
.error_text p {
  position: relative;
  top: 50%;
}
.highlight_btn {
  margin: 20px 0;
  text-align: center;
  width: 100%;
}
.previewComponent {
  text-align: center;
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.preview_Sec {
  padding-left: 20px;
}